<% if user_signed_in? %>
	<h1>You are logged in!</h1>
<% else %>

	<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>
		That's the new site for
		<%= link_to "NBA", "http://nba.com"
		%>
		association.
	</p>

	<p>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-warning btn-large" %>
	</p>
	</div>
<% end %>



