<div class="hero-unit">
<h1>Welcome!</h1>
<p>
	That's the new site for
	<%= link_to "NBA", "http://nba.com"
	%>
	association.
</p>

<p>
	<%= link_to "Sign up now!", "#", class: "btn btn-warning btn-large" %>
</p>
</div>




